appdirs==1.4.4
appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.4.4
decorator==4.4.2
Deprecated==1.2.11
distlib==0.3.1
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
fastapi==0.63.0
fastapi-login==1.5.2
fastapi-users==5.1.0
filelock==3.0.12
h11==0.12.0
idna==2.10
iniconfig==1.1.1
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
makefun==1.9.5
motor==2.3.1
packaging==20.9
parso==0.8.1
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2020.11.15
pluggy==0.13.1
prompt-toolkit==3.0.16
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.7.3
Pygments==2.7.4
PyJWT==2.0.1
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pytest==6.2.2
python-http-client==3.3.2
python-jose==3.2.0
python-multipart==0.0.5
requests==2.25.1
rsa==4.7
sendgrid==6.6.0
sendgrid-python==0.1.1
six==1.15.0
starkbank-ecdsa==1.1.0
starlette==0.13.6
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.3
uvicorn==0.13.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
wcwidth==0.2.5
wrapt==1.12.1
